:root {
  --color-primary: hsl(230deg, 100%, 69%);
  --color-main-background: hsl(210deg, 30%, 8%);
}
body {
  background-color: var(--color-main-background);
  color: #fff;
  font-family: "Courier New", Courier, monospace;
}
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.flex-section {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-size: clamp(1rem, 3vw, 1.3rem);
}
.message {
  font-size: clamp(2rem, 7vw, 2.8rem);
  padding-top: 25px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.message-and-controls {
  display: grid;
  row-gap: 25px;
  justify-items: center;
}
.controls {
  display: flex;
  column-gap: 2rem;
}
.btn {
  font-size: 1.2rem;
  min-width: 6rem;
  border-radius: 8px;
  border: 2px solid var(--color-primary);
  color: white;
  padding: 0.2rem 0.4rem;
  cursor: pointer;
  transition: opacity 0.2s scale 0.1s;
}
.btn:hover {
  opacity: 0.7;
}
.btn:active {
  transform: scale(0.96);
}
.btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
  border: none;
}
.btn:disabled:active {
  opacity: 0.4;
  transform: scale(1);
}
.sign {
  font-size: 1.4rem;
  font-weight: 700;
}
/* current-round-and-scores  */
.current-round-and-scores {
  border: 2px solid blue;
  padding: 1rem;
}
.current-round-title {
  align-self: center;
}
.scores {
  display: flex;
  column-gap: 2rem;
}
.previous-round {
  border: 2px solid green;
  padding: 1rem;
}
.game-winner {
  border: 2px solid red;
  padding: 1rem;
}
.game-winner-name {
  align-self: center;
  font-size: 3rem;
  font-weight: 700;
}
.cells {
  display: grid;
  grid-template-columns: repeat(10, 3rem);
  grid-template-rows: repeat(10, 3rem);
  box-shadow: -11px -6px 37px 11px rgba(107, 94, 94, 0.55),
    7px 10px 37px 11px rgba(82, 67, 67, 0.55);
  margin-top: 50px;
}
.cell {
  color: rgb(199, 190, 190);
  font-size: clamp(1rem, 4.5vw, 2rem);
  display: grid;
  place-content: center;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background-color: var(--color-primary);
}
.cell:nth-child(-n + 10) {
  border-top: 1px solid #fff;
}
.cell:nth-child(10n + 1) {
  border-left: 1px solid #fff;
}
/* titles are here to overwrite section defaults */
.title {
  font-size: clamp(1.3rem, 3vw, 1.7rem);
  font-weight: 700;
  color: var(--color-primary);
  align-self: center;
}
/* MEDIA QUERIES */
@media (max-width: 1030px) {
  .main-wrapper {
    flex-direction: column-reverse;
  }
}
@media (max-width: 530px) {
  .cells {
    grid-template-columns: repeat(10, clamp(1rem, 8vw, 3rem));
    grid-template-rows: repeat(10, clamp(1rem, 8vw, 3rem));
  }
}
